<hr>

<div class="card" style="width: 20rem;">
  <img src="Image des chatons" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Carte de l'items</h5>
    <p class="card-text">Description de la photo</p>
    <a href="#" class="btn btn-primary">Ajouter au panier</a>
  </div>
</div>

<hr>
