<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Merci, <%= @order.user.email %></h1>
    <p>
        Votre commande n° <%= @order.id %>
    </p>
		
      <p><%= "https://thp-catstore.herokuapp.com/rails/active_storage/blobs/redirect/#{item.item_image.blob.key}/#{item.item_image.blob.filename}"%></p>
      <%= email_image_tag("cat.jpeg") %>
		<% @order.items.each do |item| %>
		<p>hello</p>
		<%end%>
  </body>
</html>