<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Merci, <%= @order.user.email %></h1>
    <p>
        Votre commande n° <%= @order.id %>
    </p>
    <%@order.items.each do |item|%>
      <div>
        <% if item.item_image.attached? %>
          <p><%= item.item_image%></p>
        <% else %>
          <p><%= item.image_url%></p>
        <% end %>
      </div>
    <% end %>
  </body>
</html>