<div class='containerfluid row m-4 d-flex justify-content-around'>

  <% @items.each do |item| %>

    <div class="card m-4" style="width: 18rem;">
    <img class="card-img-top m-1" src="<%= item.image_url %>" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%= item.title %></h5>
        <p class="card-text"><%= item.description %></p>
        <a href="#" class="btn btn-primary">Voir</a>
		<%= link_to "voir", item_path(item) %>
      </div>
    </div>

  <% end %>

<div>