 <div class="hero">
      <div class="hero__text">
        <h1 class="hero__title tagline">
          Collectionnez vos photos de chats préfèrés !
        </h1>
        <p class="description hero__description">
          l’opportunite unique d’acquerir des photos de chat qui voudront
          bientot plus que des cartes pokemon !
        </p>
		<div class="button__wrapper">
		 <%= button_to "Acheter une photo de chat", new_user_session_path, class:'hero__cta btn' %>
		</div>
       
      </div>
	  <div class="hero__img__lg">
	<%= image_tag("cats_hero_image.png") %>
	  </div>
	  <div class="hero__img__mobile">
	  	<%= image_tag("cat_mobile.png") %>
	  </div>
</div>