<div class="jumbotron jumbotron-fluid bg-light">
  <div class="container">
    <h1 class="display-4 text-center">Welcome to the Cat Market</h1>
    <p class="lead text-center">You can add to your card all the picks !!!</p>
  </div>
</div>