<div class="jumbotron jumbotron-fluid bg-light">
  <div class="container">
    <h1 class="display-4">Welcome to the Cat Market</h1>
    <p class="lead">You can add to your card all the picks !!!</p>
  </div>
</div>