<h1 id="title_team" class="text-center">La team</h1>

<div class="container">
  <div class="row">
    <div class="col-sm text-center">
    <img src="https://avatars.githubusercontent.com/u/23138145" class="img_person_team">
      <h4>Jocelin Queau</h4>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500</p>
    <a class="btn btn-primary" href="https://github.com/jocelinqueau" target="_blank">git hub</a>
    </div>
    <div class="col-sm text-center">
    <img src="https://avatars.githubusercontent.com/u/80123816" class="img_person_team">
      <h4>Xabi Aycaguer</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500</p>
    <a class="btn btn-primary" href="https://github.com/XabAyca" target="_blank">git hub</a>
    </div>
    <div class="col-sm text-center">
    <img src="https://avatars.githubusercontent.com/u/74005033" class="img_person_team">
      <h4>Léo Lair</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500</p>
        <a class="btn btn-primary" href="https://github.com/Lehoax" target="_blank">git hub</a>
    </div>
     <div class="col-sm text-center">
    <img src="https://avatars.githubusercontent.com/u/81421621" class="img_person_team">
      <h4>Anthony Charron</h4>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500</p>
        <a class="btn btn-primary" href="https://github.com/AnthonyLebro" target="_blank">git hub</a>
    </div>
  </div>
</div>