<h1 id="title_team" class="text-center">La team</h1>

<div class="container">
  <div class="row">
    <div class="col-sm text-center  m-2 mb-5">
    <img src="https://avatars.githubusercontent.com/u/23138145" class="img_person_team rounded mb-1">
      <h4>Jocelin Queau</h4>
    <a class="btn btn__primary" href="https://github.com/jocelinqueau" target="_blank">git hub</a>
    </div>
    <div class="col-sm text-center  m-2 mb-5">
    <img src="https://avatars.githubusercontent.com/u/80123816" class="img_person_team rounded mb-1">
      <h4>Xabi Aycaguer</h4>
    <a class="btn btn__primary" href="https://github.com/XabAyca" target="_blank">git hub</a>
    </div>
    <div class="col-sm text-center  m-2 mb-5 ">
    <img src="https://avatars.githubusercontent.com/u/74005033" class="img_person_team rounded mb-1">
      <h4>Léo Lair</h4>
        <a class="btn btn__primary" href="https://github.com/Lehoax" target="_blank">git hub</a>
    </div>
     <div class="col-sm text-center m-2 mb-5">
    <img src="https://avatars.githubusercontent.com/u/81421621" class="img_person_team rounded mb-1">
      <h4>Anthony Charron</h4>
        <a class="btn btn__primary" href="https://github.com/AnthonyLebro" target="_blank">git hub</a>
    </div>
  </div>
</div>