<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenue, <%= @user.email %></h1>
    <p>
        Ton compte a étais créer avec succès.
    </p>
    <p>
      Pour te connecter suit ce lien: <%= @url %>.
    </p>
    <p>Merci pour votre inscription et bonne journée !</p>
  </body>
</html>