<hr>

<div class="card" style="width: 20rem;">
  <img src="Image des chatons" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Profils de l'utilisateur</h5>
    <h3 class="card-text">Description </h3>
    <p class="card-text">@user.first-name</p>
    <p class="card-text">@user.last-name</p>
  </div>
</div>

<hr>
