<br>
<br>

<div style="height:80vh">
<div class="card block-center" style="width: 20rem;">
  <% if @item.item_image.attached? %>
  <%= image_tag @item.item_image, alt: "item image" %>
  <% else %>
  <p>no active record photo</p>
  <% end %>
  <div class="card-body">
    <h5 class="card-title"><%= @item.title %></h5>
    <p class="card-text"><%= @item.description %></p>
	<% if !!current_user %>
	<%= button_to "Ajouter au panier", user_cart_path(current_user.cart.id), method: "put", params: { :item_id => @item.id } %>
	<% end %>
  </div>
</div>
</div>
