// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h1 {
    font-weight: 300;
}

h4 {
    font-weight: 300;
}

.img_person_team {
    height: 12rem;
}

#title_team {
    margin-top: 3rem;
    margin-bottom: 3rem;
}