<footer class="bg-primary text-white text-center text-lg-start foot">
  <div class="text-center p-3" style="background-color: rgb(255, 255, 255);">
    <p  style="color: rgb(0, 0, 0);">Powered by "Jocelin Queau, Xabi Aycaguer, Leo Lair, & Anthony Charron" </p>
  </div>
</footer>
